name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test on ${{ matrix.os.name }} (${{ matrix.ruby.name }})
    strategy:
      fail-fast: false
      matrix:
        os:
          - { name: Ubuntu, value: ubuntu-22.04 }

        ruby:
          - { name: ruby-3.1, value: 3.1.4 }
          - { name: ruby-3.2, value: 3.2.2 }
          - { name: ruby-3.3, value: 3.3.5 }

        include:
          - os: { name: macOS, value: macos-12 }
            ruby: { name: ruby-3.1, value: 3.1.4 }
            timeout: 10
          - os: { name: macOS, value: macos-12 }
            ruby: { name: ruby-3.2, value: 3.2.2 }
            timeout: 10
          - os: { name: macOS, value: macos-12 }
            ruby: { name: ruby-3.3, value: 3.3.3 }
            timeout: 10
          - os: { name: Windows, value: windows-2022 }
            ruby: { name: ruby-3.1, value: 3.1.4 }
            timeout: 20
          - os: { name: Windows, value: windows-2022 }
            ruby: { name: ruby-3.2, value: 3.2.2 }
            timeout: 20
          - ruby: { name: truffleruby-24, value: truffleruby-24.0.1 }
            timeout: 20
          - ruby: { name: ruby-head, value: ruby-head }
            timeout: 20
          # - ruby: { name: jruby-9.4, value: jruby-9.4 }
          #   timeout: 20

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.235.0
        with:
          ruby-version: ${{ matrix.ruby.value }}
          bundler-cache: true
      - name: Run the default task
        run: bin/rake

  all:
    name: Test All
    needs: [build]
    runs-on: ubuntu-latest
    if: always()
    steps:
      # will run /bin/true or /bin/false depending on the result of the build job
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - run: /bin/${{ (needs.build.result == 'success' || needs.build.result == 'skipped') }}
